@font-face {
  font-family: "Diaria Sans Pro";
  src: url("../assets/fonts/DiariaSansPro-Regular.woff2") format("woff2"),
    url("../assets/fonts/DiariaSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
